/*Import Bootstrap*/
@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.content {
  min-height: 90vh;
}

.no-padding {
  padding: 0 !important;
}

table.diamondSweeper-board {
  td {
    padding: 0;
  }
}

.cell {
  height: 50px;
  width: 50px;
  background-size: 50px 50px;

  &.diamond {
    background-image: url(../images/diamond.png);
  }

  &.arrow {
    background-image: url(../images/arrow.png);
  }

  &.unknown {
    background-image: url(../images/question.png);
  }
}
